- if node.is_uik == false
  %div.tree-node-holder{id: node.id}  
    %div.node-name
      %div.name
        %h3{"id"=>node.id,"data-depth"=>node.depth}
          = node.name
          %a.ico-link.sprite-link{:href=>node.url}
          
            
      %div.root-voting-table
        %ul
          %li
            Явка:
            %b= "#{node.pct("poll")}%"            
          %li
            Спр. Россия:
            %b= "#{node.pct("sr")}%"
          %li
            ЛДПР:
            %b= "#{node.pct("ldpr")}%"
          %li  
            Патр. России:
            %b= "#{node.pct("pr")}%"
          %li  
            КПРФ:
            %b= "#{node.pct("kprf")}%"
          %li  
            Яблоко:
            %b= "#{node.pct("yabloko")}%"
          %li  
            Ед. Россия:
            %b= "#{node.pct("er")}%"
          %li  
            Правое дело
            %b= "#{node.pct("pd")}%"

    %div.filter
      Фильтровать по:
      %a{"data-placement"=>"right", "rel"=>"popover", "title"=>"меньше", "class"=>"filter-popover"}
        явке
      %div.hidden
        %div.filter-item
          %ul
            -5.times do |i|
              %li
                %a{"data-arg" => (i+1)*20,"data-receiver_id" => node.id, "data-filter" =>"attendance"}
                  ="#{(i+1)*20} %"
                  
    - node.children.each do |child|
      - if (child.is_uik == true) 
        %div.voting-table{filter_params(child)}
          %div.controllers
            %a.open-dialog.ico-doc_lines_stright.sprite-link{"data-id"=>child.id}
            %a.open-dialog.ico-spechbubble_sq_line.sprite-link{"data-id"=>child.id}              
          %h5
            = child.name
          .item_holder
            .item
              Явка
            .value{:class => "attendance-#{child.pct("poll")/10.to_i}"}
              = " #{child.pct("poll")} %"
          .item_holder
            .item
              Справ. Россия
            .value
              = child.sr         
          .item_holder
            .item
              ЛДПР
            .value    
              = child.ldpr         
          .item_holder
            .item
              Патриоты России
            .value    
              = child.pr
          .item_holder
            .item
              КПРФ
            .value              
              = child.kprf
          .item_holder
            .item
              Яблоко
            .value    
              = child.yabloko
          .item_holder
            .item
              Единая Россия
            .value    
              = child.er
          .item_holder
            .item
              Правое дело
            .value    
              = child.pd
      - else

        = render :partial => "shared/tree_item", :locals => {:node => child}


